body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}


.logo {
  height: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

span {
  color: midnightblue;
}

@media (max-width:680px) {
  .logo {
    height: 20px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .card {
    width: 100%;
    display: block;
    text-align: justify;
  }

  .tile-image {
    margin-bottom: 50px;
  display: inline;
    
  }



}