body {
  background-color: #393e46;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

@media (max-width: 800px) {
  .dice-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
