body {
    background-color: black;
}

div {
    background-color: black;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}